
.root {
    -fx-background-color: white;
}

#back-button {
    -fx-border-color: #434343;
    -fx-border-width: 2px;
}

#back-button:hover {
    -fx-background-color: #efefef;
}

.tab-pane {
    -fx-border-color: #434343;
    -fx-font-color: #434343;
    -fx-background-color: TRANSPARENT;
    -fx-border-width: 2px;
}

.tab-header-background {
    -fx-background-color: TRANSPARENT;
}

.lc-builder-leftbar .button {
    -fx-border-color: #434343;
    -fx-font-color: #434343;
    -fx-background-color: TRANSPARENT;
    -fx-border-width: 2px;
}

.lc-main-grid {
    -fx-border-color: #434343;
    -fx-border-width: 2px;
}
.lc-grid-tile {
    -fx-fill: TRANSPARENT;
    -fx-stroke: #434343;
    -fx-border-color: #434343;
    -fx-stroke-width: 2px;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;

    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}

.lc-grid-tile:disabled {
    -fx-border-color: #aaaaaa;
}

.lc-grid-letter {
    -fx-font-family: Arial;
    -fx-font-size: 36px;
}
