
.root, .scroll-pane, .scroll-pane .viewport {
	-fx-background-color: white;
}

.scroll-pane {
	-fx-border-color: white, black, white;
	-fx-border-width: 9px, 7px, 5px;
}

#back-button {
    -fx-border-color: #434343;
    -fx-border-width: 2px;
}

#back-button:hover {
    -fx-background-color: #efefef;
    -fx-cursor: hand;
}

.edit-tile:hover, .lc-new-level:hover {
	-fx-cursor: hand;
}

.edit-tile:hover .edit-tile--rect {
	-fx-fill: #f0f0f0;
}

.lc-new-level:hover .lc-level-rect, .lc-new-level:hover .svg-path {
	-fx-stroke: black;
}

.edit-tile--control:hover {
	-fx-cursor: hand;
}
